.select{
    width: 164px;
    margin-right: 53px;
    margin-left: -119%;
    display: block;
    margin-top: -31px
}
.btn {
    margin-top: -2px;
    margin-left: 80%;
}
.input{
    margin-left: 650px;
    margin-top: -3px;
}